{
	name:	"Bootloader",
	offset:	0x0,
	size:	0x20000,
	read_only: true,
}, {
	name:	"Firmware",
	offset: 0x20000,
	size:	0x3A0000,
}, {
	name:	"Storage",
	offset: 0x3C0000,
	size:	0x20000,
}, {
	name:	"Nvram",
	offset:	0x3E0000,
	size:	0x10000,
	read_only: true,
}, {
	name:	"Factory",
	offset: 0x3F0000,
	size:	0x10000,
	read_only: true,
}
